<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">  
    <head>
        <div th:replace="~{fragment :: meta}"></div> 
        
        <div th:replace="~{fragment :: styles}"></div>
        
        <title>レビュー一覧</title>       
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container samuraitravel-container pb-5">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item">><a th:href="@{/house}">民宿一覧</a></li>
                            		<li class="breadcrumb-item">><a th:href="@{/house}">民宿詳細</a></li>
									<li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
                            	</ol>
                             </nav> 	 
                            
                            <h1 class="mb-3 text-center">SAMURAIの宿のレビュー一覧</h1>                                                
                            
                            <table class="table">
                                
                                <tbody>                                                     
                                   <tr th:each="review : ${reviews}"> 
                                        <td th:text="${review.getUserid()}"></td> 
                                        <td th:text="${review.getRating()}"></td>
                                        <td th:text="${revew.getComment()}"></td>
                                        
                                                                                                                    
                                    </tr>                                      
                                </tbody>
                            </table>                                       
                        </div>
                    </div>
               </div>              
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <!-- Bootstrap -->
        <div th:replace="~{fragment :: scripts}"></div> 
    </body>
</html>